<h3>{{replaceStr(parameter)}}</h3>
<!-- {{removeSlash(parameter)}} -->
<div class="row">
	<div class="col-sm-6 col-md-6">
	  <div class="thumbnail">
	  <h3>Boxplot</h3>
	    <img src="dashboard/graph/boxplot/{{family}}/{{station}}/{{ToSlash(parameter)}}/7day/" alt="...">
	  </div>
	</div>

	<div class="col-sm-6 col-md-6">
	  <div class="thumbnail">
	  <h3>Histrogram</h3>
	    <img src="dashboard/graph/histogram/{{family}}/{{station}}/{{ToSlash(parameter)}}/7day/" alt="...">
	  </div>
	</div>

</div>