<h3>{{replaceStr(parameter)}}</h3>

<!-- Date Range -->
      <div class="btn-group" role="group" aria-label="..." >
        <button type="button" ng-model="dateRange" value="7day" ng-click="dateClick($event)" class="{{ getButtonClass('7day') }}">7 day</button>
        <button type="button" ng-model="dateRange" value="14day" ng-click="dateClick($event)" class="{{ getButtonClass('14day') }}">14 day</button>
        <button type="button" ng-model="dateRange" value="6week" ng-click="dateClick($event)" class="{{ getButtonClass('6week') }}">6 week</button>
        <button type="button" ng-model="dateRange" value="4month" ng-click="dateClick($event)" class="{{ getButtonClass('4month') }}">4 month</button>
        <button type="button" ng-model="dateRange" value="6month" ng-click="dateClick($event)" class="{{ getButtonClass('6month') }}">6 month</button>
      </div>
<!-- End Date Range -->

<div class="row">
	<div class="col-sm-6 col-md-6">
	  <div class="thumbnail">
	  <h3>Boxplot</h3>
	    <img ng-src="{{ getImageSrc(ToSlash(parameter),range).boxplot }}" alt="...">
	  </div>
	</div>

	<div class="col-sm-6 col-md-6">
	  <div class="thumbnail">
	  <h3>Histrogram</h3>
	    <img ng-src="{{ getImageSrc(ToSlash(parameter),range).histogram }}" alt="...">
	  </div>
	</div>

</div>