<div ng-repeat="station in stations | orderBy: 'ordering'">


      <a ng-show="from_path=='distribute'" href="distribute/{{model}}/{{station.station}}"><h2>{{station.station}} : {{station.name}}</h2></a> 
      <a ng-show="from_path=='spc'" href="spc/{{model}}/{{station.station}}"><h2>{{station.station}} : {{station.name}}
        <small ng-show="showBack">
        <a ng-show="from_path=='spc'" href="spc/{{model}}">Back</a>
        </small>
      </h2></a>


      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="tester in testers | filter:currStation(station) | orderBy: 'spc_ordering'">
          <div class="thumbnail">
          <h3><a ng-href="spc/{{model}}/{{station.station}}/{{tester.name}}/"><small>{{ tester.name }}</small></a></h3>
            <!-- <img ng-src="{{ getImageSrc(station.station,ToSlash(parameter),range).boxplot }}" alt="..." /> -->
            <hr>
            
          </div>
        </div>
      </div> 



</div>


