<div ng-repeat="station in stations | orderBy: 'ordering'">


      <!-- <a ng-show="from_path=='distribute'" href="distribute/{{model}}/{{station.station}}"><h2>{{station.station}} : {{station.name}}</h2></a> -->
      <a ng-show="from_path=='spc'" href="spc/{{model}}/{{station.station}}">
        <h2>{{station.station}} : {{station.name}}</h2>
      </a> 
      
      <div>
      	<h2 ng-show="tester!=''">Tester : {{ tester }} 
      	<small><a ng-show="from_path=='spc'" href="spc/{{model}}">Back</a></small></h2>
      </div>

        
        <!-- Date Range -->
          <div class="btn-group" role="group" aria-label="..." >
            <button type="button" ng-model="dateRange" value="7day" ng-click="dateClick($event)" class="{{ getDayRangeButtonClass('7day') }}">7 day</button>
            <button type="button" ng-model="dateRange" value="14day" ng-click="dateClick($event)" class="{{ getDayRangeButtonClass('14day') }}">14 day</button>
            <button type="button" ng-model="dateRange" value="30day" ng-click="dateClick($event)" class="{{ getDayRangeButtonClass('30day') }}">30 day</button>
          </div>
        <!-- End Date Range -->

        <!-- Export -->
        <button type="button" ng-model="exportdata" ng-click="exportClick()" class="btn btn-default">Export Testing Data</button>
        <!-- End export -->
		<br>
		<div ng-show="!hideItem">
			<h2 class="text-capitalize">{{searchBy}} : {{ selectedItem }} </h2>
		</div>

     <!-- if range = slot ,all items must show parameter -->
      <div class="row">

        <div class="col-sm-12 col-md-12" ng-repeat="parameter in parameters |  orderBy: 'spc_ordering' ">
          <!-- <div class="thumbnail"> -->
          <h3><a href="spc/{{model}}/{{station.station}}/ALL/{{ToSlash(parameter.name)}}" > {{ parameter.name}}</a></h3>
          <!-- {{ getImageSrc(model,station.station,ToSlash(parameter.name),'ALL','ALL',dateRange).scratter }} -->
          <!-- {{ model }} {{ station.station }} {{ ToSlash(parameter.name) }} {{ dateRange }} -->
          <img  class="pull-left" 
            ng-src="{{ getImageSrc(model,station.station,ToSlash(parameter.name),'ALL','ALL',dateRange).scratter }}" alt="..." />
            
            
          <!-- </div> -->
        </div>
      </div>

</div>

 <!-- img-responsive -->

