{% extends "site_base2.html" %}

{% load prod_lib %}


{% block extra_style %}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}

{% endblock %}



{% block page_content %}
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{data.title}} </h3>
              </div>
            </div>
          <!-- start details -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-12">
                   <!--  <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                      <input type="submit" value="Show!!" />
                    </form> -->
                  </div>

              <!-- Tracking details -->
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Serial number : {{data.sn}} <small>..</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/dashboard/status/{{data.status}}/{{ data.date }}/snlist">Show Serial number list</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <!-- <th>Serial Number</th> -->
                          <!-- <th>Work Order</th> -->
                          <th>Parameter</th>
                          <th>Min</th>
                          <th>Max</th>
                          <th>Value</th>
                          <th>Result</th>
<!--                           <th>Loop</th>
                          <th>Tester</th>
                          <th>Start</th>
                          <th>Stop</th>
                          <th>Result</th>
                          <th>Dispose Code</th>
                          <th>User</th> -->
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in data.queryset %}
                        <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <!-- <td>{{item.sn_wo.sn}}</td> -->
                          <!-- <td>{{item.sn_wo.workorder}}</td> -->
                          <td>{{item.parameter}}</td>
                          <td>{{item.limit_min}}</td>
                          <td>{{item.limit_max}}</td>
                          <td>{{item.value}}</td>
                          <td>{{item.result}}</td>
<!--                           <td>{{item.loop}}</td>
                          <td><a href= "{% url 'unit_parameter_data' item.pk  %}" >{{item.tester}}</a></td>
                          <td>{{item.started_date}}</td>
                          <td>{{item.finished_date}}</td>
                          <td>{{item.result}}</td>
                          <td>{{item.dispose_code}}</td>
                          <td>{{item.user}}</td> -->
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <!-- End Tracking details -->

                           



                </div>
              </div>
            </div>
          </div>




          </div>
        </div>

        <!-- /page content -->
        {% endblock page_content %}



        {% block java_content %}


        {% endblock java_content %}