{% extends "site_base2.html" %}

{% load prod_lib %}


{% block extra_style %}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}

{% endblock %}



{% block page_content %}
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="head-title" class="col-md-6" class="pull-left">
                  <h3>Model : {{data.family}}  <small>on {{data.date_from}} to {{data.date_to}}</small></h3>
                </div>
                
                <div class="col-md-6" class="pull-left">
                  <!-- <form action="" method="post">
                  {% csrf_token %}
                      {{ form }}
                      <input type="submit" value="Show!!" />
                  </form> -->
                  
                  <!-- Group Radio -->
                    <!-- <p class="text-muted">Group Radio</p> -->
                    <form id="DateRangeSelect">
                    <div class="row">
                      <!-- <label >Select Family</label> -->
                      <div class="col-md-3 col-sm-3 col-xs-12">
                          <select class="select2_single form-control" tabindex="-1" name="opt_family">
                            {% for item in family %}
                            <option value="{{item.name}}" {% if item.name == data.family %}selected="selected"{% endif %}>
                            {{item.name}}</option>
                            {% endfor %}
                          </select>
                        </div>

                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                          <input type="radio" name="opt_date_range" id="option1" checked="checked" value="7day"/> Last 7 days
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" name="opt_date_range" id="option2" value="14day" /> Last 14 days
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" name="opt_date_range" id="option3"  value="6week"/> Last 6 weeks
                        </label>

                        <label class="btn btn-default">
                          <input type="radio" name="opt_date_range" id="option4"  value="4month"/> Last 4 months
                        </label>
                        
                      </div>
                    </div>
                    </form>
                    <!-- End Group Radio -->
                </div>
              </div>
            </div>

         <div class="row">

         
          <!-- Station Section -->
          {% for item in station %}
          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3><small>{{ item.station}} : {{ item.name}}</small></h3>
                  </div>
                  <div class="col-md-6"></div>
                </div>

             <!-- Parameter Section -->
             {% for param in parameter|critical_station:item.station %}
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                  <div class="x_title" id="each_param">
                    <h2><small>{{param.description}}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu" id="oneAnswer">
                          <li>

                        <!--   <a id="changeurl" station={{item.station}} parameter={{param.name}} 
                          datefrom={{data.date_from}} dateto={{data.date_to}}
                          href= "{% url 'spc_cpk_station' data.family item.station param.name|to_slash data.mode %}" >Show Cp/Cpk</a>
                          </li> -->

                             <a id="changeurl" station={{item.station}} parameter={{param.name}} 
                          datefrom={{data.date_from}} dateto={{data.date_to}}
                          href= "{% url 'graph_relations' data.family item.station param.name|to_slash data.mode %}" >Show Relations</a>
                          </li>



                          <li><a id="spc_data" href= "{% url 'graph_distribution_by_range' data.family item.station param.name|to_slash data.mode %}" >Show Distribution</a>
                          </li>

                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="graph-body" class="x_content">
                  <!--   Start Content -->
                  <a id="changeimgurl" href= "{% url 'graph_boxplot_by_range' data.family item.station param.name|to_slash data.mode %}" >
                    <img bgcolor=red class="img-responsive" src="/dashboard/graph/boxplot/{{data.family}}/{{item.station}}/{{param.name|to_slash}}/7day/">
                  </a>
                  <!-- SPC details -->
                  <!-- <div>
                              <ul class="list-inline widget_tally">
                                <li>
                                  <p>
                                    <span class="month">Sample (N)</span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month">Mean </span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                                <li>
                                  <p>
                                    <span class="month">StdDev </span>
                                    <span class="count">+12%</span>
                                  </p>
                                </li>
                              </ul>
                            </div> -->
                  <!-- end SPC details -->
                  <!-- End Content -->  
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End Parameter-->

              

              <div class="clearfix"></div>
              </div>
            </div>

          </div>
          {% endfor %}
          <!-- end Station -->








                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock page_content %}



        {% block java_content %}
        <script>
    $(function(){


    //Text Box
      $('#id_start_date').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: 'linked'
      });
       $('#id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: 'linked'
      });
       });


      $('select[name=opt_family]').on('change', function() {
              //alert( this.value ); 
              // $('#yourdropdownid option:selected').text();
              var selected_family=$(this).find(":selected").val()
              var url ="{% url 'spc_main_family' '0'   %}".replace('0',selected_family)
              window.location.href = url ;
              
              
              
      });

      $('#DateRangeSelect input[type=radio]').change(function() {       
            // $('body').css('cursor', 'wait');
            
            var range = this.value //alert(this.value);

            $('#graph-body img').each(function(){
                var src_name = $(this).attr('src');          
                var src_name = src_name.replace("7day/", "");
                var src_name = src_name.replace("14day/", "");
                var src_name = src_name.replace("6week/", "");
                var src_name = src_name.replace("4month/", "");
                var src_new =src_name +  range + '/'
                $(this).attr("src", src_new);

                
                // var href_old = $('#changeurl').attr("href");
                // var href_old = href_old.replace("7day/", "");
                // var href_old = href_old.replace("14day/", "");
                // var href_old = href_old.replace("6week/", "");
                // var href_old = href_old.replace("4month/", "");
                // var href_new =href_old +  range + '/'
                // $('#changeurl').attr("href", href_new);
            });

            $('#graph-body a').each(function(){
                var src_name = $(this).attr('href');          
                var src_name = src_name.replace("7day/", "");
                var src_name = src_name.replace("14day/", "");
                var src_name = src_name.replace("6week/", "");
                var src_name = src_name.replace("4month/", "");
                var src_new =src_name +  range + '/';
                $(this).attr('href', src_new);
            });

            // $('body').css('cursor','auto');
            // $("div").css('cursor','auto');
            $('#oneAnswer li a').each(function (i) {

                  // var index = $(this).index();
                  // var text = $(this).text();
                  var href_old = $(this).attr('href');
                var href_old = href_old.replace("7day/", "");
                var href_old = href_old.replace("14day/", "");
                var href_old = href_old.replace("6week/", "");
                var href_old = href_old.replace("4month/", "");
                var href_new =href_old +  range + '/'
                $(this).attr('href',href_new);
                  // alert($(this).attr('href'));
              });
            

            $('#head-title h3 small').text( "On last " + range );
        });



      
      </script>

      

        {% endblock java_content %}