{% extends "site_base2.html" %}

{% load prod_lib %}


{% block extra_style %}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}

{% endblock %}



{% block page_content %}
<!-- page content -->
<div class="row">
        <div class="right_col" role="main">
          <div class="">


        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="title" class="col-md-6 col-sm-6 col-xs-6">
                <h3>{{data.family}}:{{ data.station}}:{{data.station_qs.description}} <small> on {{data.date_from}} to {{data.date_to}}</small></h3>
              </div>
              <div id="head-title" class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right">
                  
                  <select class="selectpicker" title="Choose one of the following..." data-width="auto" data-style="btn-info"  data-live-search="true" name="opt_all_param">
                    {% for item in data.parameter_qs %}
                    <option value="{{item.name}}" >{{item.description}}</option>
                    {% endfor %}
                  </select>
                  

                </div>
              </div>
          </div>
        </div>



         
          <!-- Station Section -->
          <div class="row">
            
            <!--Detail Main Graph Section -->
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="dashboard_graph">
                    <div class="row x_title">
                      <div id="parameter" class="col-md-12">
                        <small>{{ data.parameter}}<small>
                      </div>
                      <div class="col-md-12"></div>
                    </div>
                   <!-- Parameter Section -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="x_panel">
                          <div id="graph-body" class="x_content">
                          <!--   Start Content -->
                          <!-- <a id="changeimgurl" href= "{% url 'graph_boxplot_by_range' data.family data.station data.parameter|to_slash '7day' %}" > -->
                            <img bgcolor=red class="img-responsive" src="/dashboard/graph/boxplot/{{data.family}}/{{data.station}}/{{data.parameter|to_slash}}/7day/">
                        <!--   </a> -->

                          </div>
                      </div>
                    </div>
                    <!-- End Parameter-->
                    <div class="clearfix"></div>
                    </div>
                </div>
              <!--End Main Graph Section -->

              <!--Detail Section - Parameter selection -->
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="dashboard_graph">

                  <div class="row x_title">
                    <div class="col-md-12">
                      <!-- <h3>Looking at<small></small></h3> -->
                      
                        <p class="lead"><small>Group by <small>
                        <select class="selectpicker" data-style="btn-danger"  data-live-search="true" name="opt_param">
                            <optgroup label="General">
                              <option value="" >Date</option>
                              <option value="tester" >Tester/Equipment</option>
                              <option value="5111" >Test Slot</option>
                              <option value="operator" >Operator</option>
                              <option value="part" >Part number</option>
                              <option value="temperature" >Temperature</option>
                              <option value="frequency" >Frequency</option>
                            </optgroup>
                            <optgroup label="Pic Material">
                                <option value="111102" > Package (810-0023-10) Lot</option>
                                <option value="111105" > Shim (810-0020-06) LotCode</option>
                                <option value="111106" > DC Substrate (810-0022-10) LotCode</option>
                                <option value="11117" > PIC Bin</option>
                                <option value="111108" > TIA (485-0013-00) LotCode</option>
                                <option value="111110" > Driver chip (810-0014-10) LotCode</option>
                                <option value="10600111" > Driver RF Subs DateCode</option>
                                <option value="10600222" > Driver RF Subs LotCode</option>
                                <option value="10600333" > RF Subs Left DateCode</option>
                                <option value="10600444" > RF Subs Left LotCode</option>
                                <option value="10600555" > RF Subs Right DateCode</option>
                                <option value="10600666" > RF Subs Right LotCode</option>
                                <option value="111122" > ESD diode (325-0028-00) LotCode</option>
                                <option value="111115" > Resistor (300-0240-00) LotCode</option>
                                <option value="111120" > EEPROM (470-0011-00) LotCode</option>
                                <option value="11008" > PIC LotCode</option>
                                <option value="102001" > H70E epoxy LotCode</option>
                                <option value="104001" > 84-1 LMI epoxy LotCode</option>
                                <option value="111116" > Thermistor (308-0000-00) LotCode</option>
                                <option value="112001" > T6067-3 LotCode</option>
                                <option value="112002" > T6067-3 Exp date :</option>
                                <option value="1119" > Base plate LotCode</option>
                            </optgroup>
                            <optgroup label="Module Material">
                              <option value="110001" > PCBA Part Number :</option>
                              <option value="110002" > PCBA Rev. :</option>
                              <option value="110004" > PIC 500-0110-10 Rev. :</option>
                              <option value="101123" > PIC 500-0120-20 Rev. :</option>
                              <option value="111352" > PIC 1 (M5) Rev. :</option>
                              <option value="111354" > PIC 2 (M6) Rev. :</option>
                            </optgroup>
                           
                          </select>
                        </p>
                    </div>
                    <div class="col-md-12"></div>
                  </div>
                 <!-- Parameter Section -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div id="graph-relation" class="x_content">
                        <!--   Start Content -->
                        <!-- <a id="changeimgurl" href= "{% url 'graph_boxplot_by_range' data.family data.station data.parameter|to_slash '7day' %}" > -->
                          <img bgcolor=red class="img-responsive" src="/dashboard/graph/boxplot/{{data.family}}/{{data.station}}/{{data.parameter|to_slash}}/{{data.date_range}}">
                        <!-- </a> -->

                        </div>
                    </div>
                  </div>
                  <!-- End Parameter-->
                  <div class="clearfix"></div>
                </div>
              <!--End Detail Section - Parameter selection -->

              <!-- End -->
            </div>
          </div>
          <!-- end Station -->

          <!-- 2nd Section -->
          <div class="row">

              <!--Detail Section - Forward Distribution -->
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="dashboard_graph">

                  <div class="row x_title">
                    <div class="col-md-12" id="topic">
                      <!-- <h3>Looking at<small></small></h3> -->
                      
                        <p class="lead">Distribution </p>

<!--                         <select class="selectpicker" data-style="btn-danger"  data-live-search="true" name="opt_param">
                            <optgroup label="General">
                              <option value="" > Date :</option>
                              <option value="tester" > Tester/Equipment :</option>
                              <option value="operator" > Operator :</option>
                              <option value="part" > Part number :</option>
                            </optgroup>
                            
                           
                          </select> -->
                     


                    </div>
                    <div class="col-md-12"></div>
                  </div>
                 <!-- Parameter Section -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div id="graph-histogram" class="x_content">
                        <!--   Start Content -->
                        <!-- <a id="changeimgurl" href= "{% url 'graph_boxplot_by_range' data.family data.station data.parameter|to_slash '7day' %}" > -->
                          <img bgcolor=red class="img-responsive" src="/dashboard/graph/histogram/{{data.family}}/{{data.station}}/{{data.parameter|to_slash}}/{{data.date_range}}">
                        <!-- </a> -->

                        </div>
                    </div>
                  </div>
                  <!-- End Parameter-->
                  <div class="clearfix"></div>
                  </div>
              </div>
              <!--End Detail Section - Forward Distribution -->

              <!--Detail Section - Yield -->
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="dashboard_graph">

                  <div class="row x_title">
                    <div class="col-md-12" id="yield">
                      <!-- <h3>Looking at<small></small></h3> -->
                      
                        <p class="lead">Yield of   </p>

                    </div>
                    <div class="col-md-12"></div>
                  </div>
                 <!-- Parameter Section -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div id="graph-forward" class="x_content">
                        <!--   Start Content -->
                        <!-- <a id="changeimgurl" href= "{% url 'graph_boxplot_by_range' data.family data.station data.parameter|to_slash '7day' %}" > -->
                         <!--  <img bgcolor=red class="img-responsive" src="/dashboard/graph/boxplot/{{data.family}}/{{data.station}}/{{data.parameter|to_slash}}/{{data.date_range}}"> -->
                        <!-- </a> -->

                        </div>
                    </div>
                  </div>
                  <!-- End Parameter-->
                  <div class="clearfix"></div>
                  </div>
              <!--End Detail Section - Yield-->
              </div>
          </div>
          <!-- End 2nd Section -->

          </div>
        </div>
      </div>

        <!-- /page content -->
        {% endblock page_content %}



        {% block java_content %}
        <script>
    $(function(){

      $('select[name=opt_param]').on('change', function() {
              //alert( this.value ); 
              // $('#yourdropdownid option:selected').text();
              var selected_param=$(this).find(":selected").val()
              var selected_param2=$(this).find(":selected").text()
              var imgscr=$('#graph-body img').attr('src');
              var newimgscr=imgscr + selected_param +"/";
              //$('#graph-relation img').attr('src', newimgscr);
              //var url ="{% url 'spc_main_family' '0'   %}".replace('0',selected_family)
              //alert(newimgscr );
              $('#graph-relation img').each(function(){
                
                $(this).attr('src', newimgscr);
                var test =$(this).attr('src');

                //alert(test );
            });

              // $('#topic p').text('Distribution of :' + selected_param2);
              // $('#yield p').text('Yield of :' + selected_param2);

                   
      });



      $('select[name=opt_all_param]').on('change', function() {
          var selected_value=$(this).find(":selected").val()
          var selected_param=$(this).find(":selected").text()
          
          var imgscr=$('#graph-body img').attr('src');
          var param_name=$('#parameter').text();
          var title=$('#title').text();
          title =title.trim()
          var res = title.split(":")
          var family=res[0];
          var station=res[1];
          var range ='7day';
          var parameter= selected_value.replace('/','-slash-')
          var new_url= '/dashboard/graph/boxplot/' + family +'/'+station +'/' + encodeURIComponent(parameter) + '/' + range +'/'
          var new_url_hist = '/dashboard/graph/histogram/' + family +'/'+station +'/' + encodeURIComponent(parameter) + '/' + range +'/'
          // $(this).attr("src", src_new);
          // alert (parameter);
          $('#parameter').text(parameter);
          $('#graph-body img').each(function(){
                
                $(this).attr('src', new_url);
            });

          $('#graph-histogram img').each(function(){
                
                $(this).attr('src', new_url_hist);
            });
          
          // var url ="{% url 'graph_boxplot_by_range' 'family' 'station' 'parameter'  'range' %}"
          // url = url.replace('family',{{data.family}})
          // var myRegExp = new RegExp('RXPDXY Responsivity (75C-slash-196THz)','g');
          // imgscr = imgscr.replace(myRegExp,"XXX")
          // test= imgscr.split(param_name).join(selected_value)
          // alert(test);
      });

    //Text Box
      $('#id_start_date').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: 'linked'
      });
       $('#id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: 'linked'
      });
       });


      $('select[name=opt_family]').on('change', function() {
              //alert( this.value ); 
              // $('#yourdropdownid option:selected').text();
              var selected_family=$(this).find(":selected").val()
              var url ="{% url 'spc_main_family' '0'   %}".replace('0',selected_family)
              window.location.href = url ;
              
              
              
      });

      $('#DateRangeSelect input[type=radio]').change(function() {       
            // $('body').css('cursor', 'wait');
            
            var range = this.value //alert(this.value);

            $('#graph-body img').each(function(){
                var src_name = $(this).attr('src');          
                var src_name = src_name.replace("7day/", "");
                var src_name = src_name.replace("14day/", "");
                var src_name = src_name.replace("6week/", "");
                var src_name = src_name.replace("4month/", "");
                var src_new =src_name +  range + '/'
                $(this).attr("src", src_new);

                
                // var href_old = $('#changeurl').attr("href");
                // var href_old = href_old.replace("7day/", "");
                // var href_old = href_old.replace("14day/", "");
                // var href_old = href_old.replace("6week/", "");
                // var href_old = href_old.replace("4month/", "");
                // var href_new =href_old +  range + '/'
                // $('#changeurl').attr("href", href_new);
            });

            $('#graph-body a').each(function(){
                var src_name = $(this).attr('href');          
                var src_name = src_name.replace("7day/", "");
                var src_name = src_name.replace("14day/", "");
                var src_name = src_name.replace("6week/", "");
                var src_name = src_name.replace("4month/", "");
                var src_new =src_name +  range + '/';
                $(this).attr('href', src_new);
            });

            // $('body').css('cursor','auto');
            // $("div").css('cursor','auto');
            $('#oneAnswer li a').each(function (i) {

                  // var index = $(this).index();
                  // var text = $(this).text();
                  var href_old = $(this).attr('href');
                var href_old = href_old.replace("7day/", "");
                var href_old = href_old.replace("14day/", "");
                var href_old = href_old.replace("6week/", "");
                var href_old = href_old.replace("4month/", "");
                var href_new =href_old +  range + '/'
                $(this).attr('href',href_new);
                  // alert($(this).attr('href'));
              });
            

            $('#head-title h3 small').text( "On last " + range );
        });



      
      </script>

      

        {% endblock java_content %}