{% extends "site_base2.html" %}

{% load prod_lib %}


{% block extra_style %}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}

{% endblock %}



{% block page_content %}
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>{{data.title}}  : station {{data.station}}  on  {{ data.date_from_str }} to {{ data.date_to_str }}<small></small></h3>
              </div>

              <!-- <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div> -->
            </div>

           <!--  <div class="clearfix"></div> -->



            <div class="row">

               <!-- PIC Section -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Statistic Data<small></small></h3>
                  </div>
                  <div class="col-md-6">

                  </div>

                </div>
                <!-- Acacia -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{data.family}} <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/dashboard/status/{{data.status}}/{{ data.date }}/snlist">Show Serial number list</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <!-- <th>#</th> -->
                          <th>Parameter</th>
                          <th>Sample(n)</th>
                          <th>Min</th>
                          <th>Max</th>
                          <th>Avg</th>
                          <th>StdDev</th>
                          <th>Limit Min</th>
                          <th>Limit Max</th>
                          <th>Cpu</th>
                          <th>Cpl</th>
                          <th>Cp</th>
                          <th>Cpk</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>

                      </tr>
                      {% for item in performing %}

                        {% cpu item.limit_max item.avg item.std as cpu_value %}
                        {% cpl item.limit_min item.avg item.std as cpl_value %}
                        {% cpk item.limit_min item.limit_max item.avg item.std as cpk_value %}
                        {% cp item.limit_min item.limit_max item.std as cp_value %}

                        <tr>
                         
                          <td>
                          <a href="{% url 'graph_histogram' data.family data.station data.date_from data.date_to item.parameter__name|to_slash %}">
                            {{item.parameter__name}}
                          </a>
                          </td>
                          <td>{{item.total}}</td>
                          <td>{{item.min|floatformat:3}}</td>
                          <td>{{item.max|floatformat:3}}</td>
                          <td>{{item.avg|floatformat:3}}</td>
                          <td>{{item.std|floatformat:3}}</td>
                          <td>{{item.limit_min|floatformat:3}}</td>
                          <td>{{item.limit_max|floatformat:3}}</td>
                          <td>{{cpl_value|floatformat:3}}</td>
                          <td>{{cpu_value|floatformat:3}}</td>
                          <td>{{cp_value|floatformat:3}}</td>
                          <td>{{cpk_value|floatformat:3}}</td>
                         
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <!-- End Input by Family -->

              
<!--                 <div class="col-md-9 col-sm-9 col-xs-12">
                  <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                  <div style="width: 100%;">
                    <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                  </div>
                </div> -->

<!--                 <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                  <div class="x_title">
                    <h2>Top Process Performance</h2>
                    <div class="clearfix"></div>
                  </div> -->

<!--                   <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p>CFP Tester</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>Optical Solder Assembly</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                      <p>Optical Calibration/FVT</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>Environment stress Pretest/EPT</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>Optical Bench Test (OBT)</p>
                      <div class="">
                        <div class="progress progress_sm" style="width: 76%;">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                        </div>
                      </div>
                    </div>
                  </div> -->


                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <!-- end section -->

               

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock page_content %}



        {% block java_content %}
 

        {% endblock java_content %}