{% load staticfiles %}
<html lang="en" ng-app="try">
<head>
	<base href="/">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabrinet SPC Monitoring</title>
    <!-- Latest compiled and minified CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    


    <!-- <script src='./js/angular.min.js' ></script> -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js'></script>

    <script src='{% static "js/app/utils/try-nav/try-nav.module.js" %}' ></script>
    <script src='{% static "js/app/utils/try-nav/try-nav.directive.js" %}' ></script>

    <script src='{% static "js/app/core/family/family.module.js" %}' ></script>
    <script src='{% static "js/app/core/family/family.service.js" %}' ></script>
    <script src='{% static "js/app/core/station/station.module.js" %}' ></script>
    <script src='{% static "js/app/core/station/station.service.js" %}' ></script>
    <script src='{% static "js/app/core/parameter/parameter.module.js" %}' ></script>
    <script src='{% static "js/app/core/parameter/parameter.service.js" %}' ></script>

    <script src='{% static "js/app/core/interceptors/interceptors.module.js" %}' ></script>
    <script src='{% static "js/app/core/interceptors/login-required.service.js" %}' ></script>

    <script src='{% static "js/app/model-list/model-list.module.js" %}' ></script>
    <script src='{% static "js/app/model-list/model-list.component.js" %}' ></script>
    <script src='{% static "js/app/parameter-detail/parameter-detail.module.js" %}' ></script>
    <script src='{% static "js/app/parameter-detail/parameter-detail.component.js" %}' ></script>

    <script src='{% static "js/app/app.module.js" %}' ></script>
    <script src='{% static "js/app/app.config.js" %}' ></script>

    
    
    <!-- Markdown libs -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.js'></script>
    <script src='
https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js'></script>
    <script src='{% static "js/external/ng-showdown.js" %}' ></script>


    <script src='{% static "js/external/dirPagination.js" %}' ></script>
    

    <script src='{% static "js/app/core/comment/comment.module.js" %}' ></script>
    <script src='{% static "js/app/core/comment/comment.service.js" %}' ></script>
    <script src='{% static "js/app/core/comment/comment.directive.js" %}' ></script>


    <script src='{% static "js/app/core/interceptors/interceptors.module.js" %}' ></script>
    <script src='{% static "js/app/core/interceptors/login-required.service.js" %}' ></script>

    <script src='{% static "js/app/core/post/post.module.js" %}' ></script>
    <script src='{% static "js/app/core/post/post.service.js" %}' ></script>

    <script src='{% static "js/app/blog-detail/blog-detail.module.js" %}' ></script>
    <script src='{% static "js/app/blog-detail/blog-detail.component.js" %}' ></script>
    <script src='{% static "js/app/blog-list/blog-list.module.js" %}' ></script>
    <script src='{% static "js/app/blog-list/blog-list.component.js" %}' ></script>
    <script src='{% static "js/app/login-detail/login-detail.module.js" %}' ></script>
    <script src='{% static "js/app/login-detail/login-detail.component.js" %}' ></script>


    <script src='{% static "js/app/register-detail/register-detail.module.js" %}' ></script>
    <script src='{% static "js/app/register-detail/register-detail.component.js" %}' ></script>


    <script src='{% static "js/app/utils/confirm-click/confirm-click.module.js" %}' ></script>
    <script src='{% static "js/app/utils/confirm-click/confirm-click.directive.js" %}' ></script> -->

    

</head>
	
 <body>
 <div ng-controller="Controller">
 	<try-nav></try-nav>
    </div>

 	{% block content %}{% endblock content %}

    
    {% block extra_javascript %}{% endblock extra_javascript %}
 </body>
 </html>